# OS files
.DS_Store

# Local machine and SDK config
local.properties

# IntelliJ / Android Studio
*.iml
.idea
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/deploymentTargetSelector.xml
.idea/shelf/

# Gradle / Kotlin build state
.gradle/
.kotlin/

# Build outputs
build/
**/build/
captures/
.externalNativeBuild/
.cxx/

# APK/AAB outputs
*.apk
*.ap_
*.aab

# Logs
*.log

# Signing files (keep private)
*.jks
*.keystore

# app release files
app/release/