<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.TRANSMIT_IR" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IRShark">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IRShark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Home screen widgets -->
        <receiver
            android:name=".widget.IrSharkWidgetReceiver"
            android:exported="true"
            android:label="@string/widget_provider_1x1">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ir_shark_widget_info" />
        </receiver>

        <receiver
            android:name=".widget.IrSharkWidget1x2Receiver"
            android:exported="true"
            android:label="@string/widget_provider_1x2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ir_shark_widget_1x2_info" />
        </receiver>

        <receiver
            android:name=".widget.IrSharkWidget1x4Receiver"
            android:exported="true"
            android:label="@string/widget_provider_1x4">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ir_shark_widget_1x4_info" />
        </receiver>

        <receiver
            android:name=".widget.IrSharkWidget2x1Receiver"
            android:exported="true"
            android:label="@string/widget_provider_2x1">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ir_shark_widget_2x1_info" />
        </receiver>

        <receiver
            android:name=".widget.IrSharkWidget4x1Receiver"
            android:exported="true"
            android:label="@string/widget_provider_4x1">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ir_shark_widget_4x1_info" />
        </receiver>

        <receiver
            android:name=".widget.IrSharkWidget2x2Receiver"
            android:exported="true"
            android:label="@string/widget_provider_2x2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ir_shark_widget_2x2_info" />
        </receiver>

        <receiver
            android:name=".widget.IrSharkWidget4x2Receiver"
            android:exported="true"
            android:label="@string/widget_provider_4x2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ir_shark_widget_4x2_info" />
        </receiver>

        <receiver
            android:name=".widget.IrSharkWidget3x3Receiver"
            android:exported="true"
            android:label="@string/widget_provider_3x3">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ir_shark_widget_3x3_info" />
        </receiver>

        <activity
            android:name=".widget.WidgetConfigActivity"
            android:exported="true"
            android:theme="@style/Theme.IRShark">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
    </application>

</manifest>